.center {
        text-align: center;
}

.inicio {
    text-align: center;
}
        
.grid-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    gap: 10px;
    padding: 10px;
}
    
.grid-container > div {
text-align: center;
padding: 20px 0;
}

table {
    width: 100%;
}